language: node_js
node_js:
  - '6'
dist: trusty
sudo: false
git:
  depth: 1
cache:
  yarn: true
  directories:
    - bower_components
    - node_modules
addons:
  chrome: stable
# before_install:
#  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
#  - export CHROME_BIN=google-chrome-stable
#  - export DISPLAY=:99.0
#  - sh -e /etc/init.d/xvfb start
before_script:
  - npm install -g gulp-cli
  - yarn
script:
  - gulp
