language: node_js
node_js:
  - '6'

cache:
  yarn: true
  directories:
    - bower_components

addons:
  chrome: stable
  
before_install:
  - export CHROME_BIN=google-chrome-stable
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install -g gulp-cli

script:
  - gulp
